colour
dash
gdal
numpy
pandas
pint
pint-pandas
pytest
scipy
pytest-cov
codecov
future==0.18.2
geopandas
ipython==7.22.0
matplotlib==3.4.2
numba
#pydot==1.4.1
plotly
python-dateutil==2.8.1
sphinx-argparse==0.2.5
sphinx-rtd-theme==0.4.2
xarray
