colour
dash
dash-bootstrap-components
flask-caching
gdal
numpy
pandas
pint
pint-pandas
pytest
scipy
pytest-cov
codecov
future
geopandas
ipython
matplotlib
numba
plotly
python-dateutil
# sphinx-argparse
# sphinx-rtd-theme
# wekzeug is included (but in in requirements) for flask-caching's filesystem cache
werkzeug
xarray
